<!--==================banner start=======================-->
<section class="banner-section">
  <div class="Welcomebanner CommonPading">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-12">
        <div class="Welbaner-text">
          <!--==========IF Select Id 1 Hindi Content ==============-->
          <h1>{{allwelcomecontent.Title}} </h1>
          <div class="WelPara" [innerHTML]=allwelcomecontent.Description>
          </div>
          <!--==========IF Select Id 1 Hindi Content ==============-->
        </div>
      </div>
    </div>
  </div>
</section>
<!--==================banner end=======================-->
