
<!-- =========BANNER SECTION START======= -->
<section class="banner">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
        <div class="item" *ngFor="let image of sliderImg let i = index" [ngClass]="{'active' : i == 0}">
        <img src="{{image}}" alt="Los Angeles" class="img-responsive"/>
        </div>
        </div>
        
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
        </a>
        </div>
        
  </section>

 <!-- =========BANNER SECTION END======= -->
 <section class="banner-section">
	<div class="Welcomebanner CommonPading">
    <div>    
      <div class="Products-single">
        <div class="row pad">
            <h1>{{postDetail?.Title}}</h1>
        </div>
        
        <div class="row pad">
        <div [innerHTML]=this.postDescription></div> 
         
        </div>
       
        <div class="row pad">
            <div class="lbl">
              <h5>{{postDetail?.ImageTitle}}</h5>
           </div>
        </div>
       <div class="row pad">
          <div class="singl_file" *ngFor="let imagess of imgArrays">
           <!-- 
             <div class="post_single_img">
                <img onError="this.src='assets/images/Logo1.png';" src="{{imagess.url}}">
              </div> 
             -->
             <!--  Extra code -->
           
             <div *ngIf="imagess.filetype else elseBlockImg1">
              <div *ngIf="imagess.exten != 'pptx' else elseBlockImg2"> 
                  <div class="post_img imgs_loop">
                      <a href="{{imagess.url}}"> 
                        <img class="img-responsive" onError="this.src='assets/images/Logo1.png';" src="{{imagess.iconimage}}" alt=""/>
                      </a>
                  </div> 
                  <div class="view_down">
                      
                      <a href="{{imagess.url}}" target="_blank">
                        <span>View</span>
                      </a>
                      <a download href="{{imagess.url}}" target="_blank">
                        <span>Download</span>
                      </a>
                     <!--  <a href="/assets/images/{{imagess.filename}}" target="_blank" download="logo.png"><span>Download</span></a> -->
                     
                  </div>
              </div>
              <ng-template #elseBlockImg2> 
                  <div class="post_img">
                    <a href="https://view.officeapps.live.com/op/embed.aspx?src={{imagess.url}}" target="_blank"> 
                      <img class="img-responsive" onError="this.src='assets/images/Logo1.png';" src="{{imagess.iconimage}}" alt=""/>
                    </a>
                  </div> 
                  <div class="view_down">
                    <a href="https://view.officeapps.live.com/op/embed.aspx?src={{imagess.url}}" target="_blank"> 
                      <span>View</span>
                    </a>
                    <a href="{{imagess.url}}" download target="_blank"> 
                      <span>Download</span>
                    </a>
                    <!-- <a href="/assets/images/Logo1.png" download="logo.png"><span>View</span></a> -->
                  </div>
              </ng-template>
          </div> 
          <ng-template #elseBlockImg1>
                <video width="220" controls>
                  <source src="{{imagess.url}}" type="video/{{imagess.exten}}">
                    <source src="mov_bbb.ogg" type="video/ogg">
                </video>
          </ng-template>
             <!-- Extra code end  -->
          </div>
        </div>
        <div class="row pad">
            <div class="lbl">
              <h5>{{postDetail?.FileTitle}}</h5>
           </div>
        </div>
        <!--  List of files -->
        <div class="row pad">
          <div class="singl_file col-md-2" *ngFor="let filess of fileArrays">
            <div *ngIf="filess.filetype else elseBlock">
                <div *ngIf="filess.exten != 'pptx' else elseBlock1"> 
                    <div class="post_img">
                       <a href="{{filess.url}}"> <img class="img-responsive" onError="this.src='assets/images/Logo1.png';" src="{{filess.iconimage}}" alt=""/></a>
                    </div> 
                    <div class="view_down">
                      
                      <a href="{{filess.url}}" target="_blank">
                        <span>View</span>
                      </a>
                      <a download href="{{filess.url}}" target="_blank">
                        <span>Download</span>
                      </a>
                     <!--  <a href="/assets/images/{{imagess.filename}}" target="_blank" download="logo.png"><span>Download</span></a> -->
                     
                  </div>
                </div>
                <ng-template #elseBlock1> 
                    <div class="post_img">
                      <a href="https://view.officeapps.live.com/op/embed.aspx?src={{filess.url}}" target="_blank"> <img class="img-responsive" onError="this.src='assets/images/Logo1.png';" src="{{filess.iconimage}}" alt=""/></a>
                    </div> 
                    <div class="view_down">
                      
                      <a href="{{filess.url}}" target="_blank">
                        <span>View</span>
                      </a>
                      <a download href="{{filess.url}}" target="_blank">
                        <span>Download</span>
                      </a>
                     <!--  <a href="/assets/images/{{imagess.filename}}" target="_blank" download="logo.png"><span>Download</span></a> -->
                    </div>
                </ng-template>
            </div> 
            <ng-template #elseBlock>
                  <video width="220" controls>
                    <source src="{{filess.url}}" type="video/{{filess.exten}}">
                      <source src="mov_bbb.ogg" type="video/ogg">
                  </video>
            </ng-template>
          </div>
        </div>
        <!--  List of files extra end -->
        <div class="row pad">
            <div class="lbl">
              <h5>{{postDetail?.ExtraFileTitle}}</h5>
            </div>
        </div>
        <div class="row pad">
            <div class="singl_file col-md-2" *ngFor="let filess of extrafileArrays">
              <div *ngIf="filess.filetype else elseBlock">
                  <div *ngIf="filess.exten != 'pptx' else elseBlock1"> 
                      <div class="post_img">
                          <a href="{{filess.url}}">
                           <img class="img-responsive" onError="this.src='assets/images/Logo1.png';" src="{{filess.iconimage}}" alt=""/>
                          </a>
                      </div> 
                      <div class="view_down">
                      
                        <a href="{{filess.url}}" target="_blank">
                          <span>View</span>
                        </a>
                        <a download href="{{filess.url}}" target="_blank">
                          <span>Download</span>
                        </a>
                       <!--  <a href="/assets/images/{{imagess.filename}}" target="_blank" download="logo.png"><span>Download</span></a> -->
                      </div>
                      
                  </div>
                  <ng-template #elseBlock1> 
                      <div class="post_img">
                        <a href="https://view.officeapps.live.com/op/embed.aspx?src={{filess.url}}" target="_blank"> <img class="img-responsive" onError="this.src='assets/images/Logo1.png';" src="{{filess.iconimage}}" alt=""/></a>
                      </div> 
                      <div class="view_down">
                        <a href="{{filess.url}}" target="_blank">
                          <span>View</span>
                        </a>
                        <a download href="{{filess.url}}" target="_blank">
                          <span>Download</span>
                        </a>
                       <!--  <a href="/assets/images/{{imagess.filename}}" target="_blank" download="logo.png"><span>Download</span></a> -->
                      </div>
                  </ng-template>
              </div> 
              <ng-template #elseBlock>
                    <video width="220" controls>
                      <source src="{{filess.url}}" type="video/{{filess.exten}}">
                        <source src="mov_bbb.ogg" type="video/ogg">
                    </video>
              </ng-template>
            </div>
        </div>
        <!--
          <div class="row pad">
              <div *ngIf="postDetail.ExtraDescription"> 
                <div class="lbl">
                  <h5>Extra Description</h5>
              </div>
            </div>
          </div>
        -->
        <div class="row pad">
            <div [innerHTML]=postDetail?.ExtraDescription></div>
        </div>


      </div>
    </div>
  </div>
</section>
