.row.pad {
    padding: 11px 0;
  }  
  .pad label {
    padding: 4px 9px;
    background:#3c3374;
    border-radius: 5px;
    color: #fff;
    max-width: 180px;
    width: 180px;
    text-align: center;
}
.post_img a {
  display: inline-block;
  box-shadow: 0px 0px 17px 0px #e4e4e4;
}
.post_img img {
  width: 82px;
  margin-top: 11px;
}
.post_img {
  float: left;
    width: 100%;
    text-align: center;
}
.post_single_img img {
  width: 220px;
  margin-right: 14px;
} 
.singl_file {
  display: inline-block;
  margin-bottom: 15px;

}
.lbl h5 {
  font-size: 23px;
  color: #3c3374;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  margin: 0px;
}
.row.pad h1 {
  text-transform: capitalize;
}
.Products-single .row.pad .singl_file[_ngcontent-c3] {
  padding: 0;
}
.post_img.imgs_loop img {
  width: 130px !important;
    margin: 0;
    min-height: 105px;
    object-fit: contain;
}
.view_down span {
  padding: 7px 5px;
  color: #3d3670;
  font-size: 16px;
  cursor: pointer;
}
.singl_file {
  vertical-align: top;
}
.view_down {
  text-align: center;
}
.row.pad > div {
  margin: 0px 20px 0px 0px;
}
.singl_file video {
  width: 180px;
}
.post_img.imgs_loop {
  text-align: center;
}