<!--==================contact-lctn======================-->
<section class="contact-lctn">
  <div class="row">
    <div class="col-md-3">
      <div class="detail-cnt">
        <h2>Merchant Helpdesk</h2>
        <span><i class="fa fa-phone" aria-hidden="true"></i>
          +91-186-0267 3466</span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="detail-cnt">
        <h2>Locate Us</h2>
        <span> <i class="fa fa-map-marker" aria-hidden="true"></i>
          Fino Payments Bank Limited Shree Sawan Knowledge Park Plot No. D-507, Second Floor MIDC Turbhe <br>Navi Mumbai- 400 705</span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="detail-cnt">
        <h2>social links</h2>
        <a href="https://www.facebook.com/FinoPaymentsBank/" target="_blank"><i class="fa fa-facebook-f"></i></a>
        <a href="https://twitter.com/FinoPaymntsBank" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/company/fino/?report.success=KJ_KkFGTDCfMt-A7wV3Fn9Yvgwr02Kd6AZHGx4bQCDiP6-2rfP2oxyVoEQiPrcAQ7Bf" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.instagram.com/finopaymentsbank/" target="_blank"><i class="fa fa-instagram"></i></a>
      </div>
    </div>
  </div>
</section>


<!--==================footer start=======================-->
<section class="footer">
  <div class="bg-patch" hidden-xs="">&nbsp;</div>
  <div class="footer-purple-bg fino-logo-bg">

    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <h4>REGULATORY</h4>
        <ul class="list-unstyled">
          <li><a href="https://www.finobank.com/personal/notice-board/" target="_blank">Notices &amp; Policies</a></li>
          <li><a href="https://www.finobank.com/pdf/banking_ombudsman_scheme_20170615153122.pdf" target="_blank">Banking Ombudsman</a></li>
          <li><a href="https://www.finobank.com/privacy-policy/" target="_blank">Privacy Policy</a></li>
          <!-- <li><a href="#">Regulatory Disclosure Section</a></li> -->
          <li><a href="https://www.finobank.com/terms-and-conditions/" target="_blank">Terms and Conditions</a></li>
          <li><a href="https://www.finobank.com/pdf/whistle-blower-policy_20170616072912.pdf" target="_blank">Whistleblower Grievance</a></li>
          <li><a href="https://www.finobank.com/secure/" target="_blank">Security</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <h4>PRODUCTS &amp; OTHER SERVICES</h4>
        <ul class="list-unstyled">
          <li><a href="https://www.finobank.com/personal/products/savings-account/" target="_blank">Savings Account</a></li>
          <li><a href="https://www.finobank.com/personal/products/current-account/" target="_blank">Current Account</a></li>
          <li><a href="https://www.finobank.com/personal/products/current-account/" target="_blank">BPay</a></li>
          <!--<li><a href="#">Deposits</a></li>
               <li><a href="#">Investments</a></li> -->
          <li><a href="https://www.finobank.com/personal/other-services/loans/" target="_blank">Loans</a></li>
          <li><a href="https://www.finobank.com/personal/other-services/Insurance/life-insurance/" target="_blank">Insurance</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <h4>GROUP WEBSITES</h4>
        <ul class="list-unstyled">
          <li><a href="http://www.finopaytech.com/" target="_blank">Fino Paytech</a></li>
          <li><a href="http://www.finofinance.in/#index" target="_blank">Fino Finance</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <h4>ABOUT US</h4>
        <ul class="list-unstyled">
          <li><a href="https://www.finobank.com/about-us/" target="_blank">Profile</a></li>
          <li><a href="https://www.finobank.com/about-us/about-fino/our_philosphy/" target="_blank">Our Philosophy</a></li>
          <li><a href="https://www.finobank.com/about-us/about-fino/management-team/" target="_blank">Management Team</a></li>
          <li><a href="#" target="_blank">Board of Directors</a></li>
          <li><a href="https://www.finobank.com/about-us/csr/" target="_blank">CSR</a></li>
        </ul>
      </div>
    </div>
    <div class="gap30 hidden-xs">&nbsp;</div>
    <div class="row underline-h4">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <h4>SERVICE CHARGES AND FEES</h4>
        <ul class="list-unstyled">
          <li><a href="https://www.finobank.com/pdf/savings%20account_soc_september%202018_20190122152146.pdf" target="_blank">Savings Account</a></li>
          <li><a href="https://www.finobank.com/pdf/current%20account_august%202018_20190122152128.pdf" target="_blank">Current Account</a></li>
          <li><a href="https://www.finobank.com/pdf/fastag_fees_charges_20180915121208.pdf" target="_blank">FASTag</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <h4>CUSTOMER CARE</h4>
        <ul class="list-unstyled">
          <li><a href="https://www.finobank.com/personal/customer-care/customer-care-center/" target="_blank">Grievance Redressal</a></li>
          <li><a href="https://www.finobank.com/personal/customer-care/faqs/accounts-and-deposits/" target="_blank">Frequently Asked Questions</a></li>
          <li><a href="https://www.finobank.com/personal/customer-care/customer-care-center/" target="_blank">Feedback or Complaint</a></li>
          <li><a href="https://www.finobank.com/personal/customer-care/-contact-us/" target="_blank">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <h4>DOWNLOAD APP</h4>
        <ul class="list-unstyled">
          <li><a data-target="#myModal" data-toggle="modal" href="#">ANDROID</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <h4>CUSTOMER CARE NUMBER</h4>
        <ul class="list-unstyled">
          <li><a class="number" style="font-size: 21px;" href="tel:1860 267 3466">1860 267 3466</a>
          </li>
        </ul>
        <h4><a href="https://www.finobank.com/personal/site-map/" target="_blank" style="color: #fff;">Site Map</a></h4>
      </div>
    </div>
    <span class="copyright">Copyright © <span id="dynamicdate">2018</span> Fino Payments Bank | All Rights Reserved. </span>
  </div>

</section>
