
<!--==================banner start=======================-->
<section class="banner-section">
	<div class="Welcomebanner CommonPading">
        <div class="Welbaner-text">
          <div class="Products-sales"> 
            <h1>Customer Education</h1>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-6 col-12">
              <div class="Products-contant_left">
                 <h1>Manage your Money</h1>
                 <div class="subsection_ul_li">
                   <ul class="subsect_ulmenu">
                      <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Why bank with us?</li>
                      <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Planning for small but regular savings</li>
                      <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Planning for life risks</li>
                      <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Hassle free bill payments and recharges</li>
                      <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Transferring funds digitally</li>
                   </ul>
                 </div>
              </div> 
            </div>
            <div class="col-md-6 col-sm-6 col-12">
              <div class="Products-contant_left">
                 <h1>Know Bpay</h1>
                 <div class="subsection_ul_li">
                   <ul class="subsect_ulmenu">
                     <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Process of downloading Bpay</li>
                     <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Wallet and Savings Account Profile</li>
                     <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Process to set MPIN</li>
                     <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Process to change MPIN</li>
                     <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Process of Hot listing Debit Card</li>
                     <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Process to set Debit Card PIN</li>
                     <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Manage beneficiaries for Fund Transfer</li>
                     <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>UPI Payments</li>
                     <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Sweep Account Operations</li>
                     <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Process to view and download Passbook</li>
                     <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Process to choose Hindi for Bpay</li>
                     <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Cash Ex </li>
                   </ul>
                 </div>
              </div> 
            </div>
          </div>
        </div>
   </div>
</section>
<!--==================banner end=======================-->