<div class="left-side-bar">
  <div display="none" class="inner_sub_category">a</div>
  <ul>
    <li><a routerLink="/"><img src="assets/images/1.png" alt="icon">{{menuOption[0].MenuName}} </a></li>
    <li><img src="assets/images/2.png" alt="icon">{{menuOption[1].MenuName}}
      <div class="form-group">
        <select [(ngModel)]="selectedLanguage" (change)="changeLanguage()">
          <option *ngFor="let language of allLanguages" [value]="language?.ID">{{language?.NativeName}}</option>
        </select>
      </div>
    </li>
    <li *ngFor="let categoies of allCategoies">
      <a  class="category{{categoies.ID}}Id" (click)="getGroupCategory(categoies.ID,this)" href="javascript:void(0)">
      <img src="assets/images/customer-support.svg" /> {{categoies?.Name}}
      </a>
      <ul style="display:none" class="inner_sub_category inner_sub_category{{categoies.ID}}">
         <li  *ngFor="let cat of allCatSub[categoies.ID]">
             <a [routerLink]="['/group/',categoies.ID]"> {{cat.Name}}</a>
        </li> 
      </ul>
    </li>
  </ul>
  <!-- <span (click)="testEvent()">testEvent</span> -->
</div>
<!--==================header=======================-->
<div class="header">
  <div class="container">
    <div class="mini-header">
      <div class="row">
        <div class="col-md-4">
          <div class="logo">
            <a routerLink="/welcome"><img src="assets/images/Logo1.png" alt="Logo">
            </a>
          </div>
        </div>
        <div class="col-md-5">
          <div class="side-butn">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <form>
            <div class="form-group">
              <div class="searchbar">
                <input class="search_input" (keyup)="serachHeader($event.target.value)" type="text" name="" placeholder="Search...">
                <button type="submit" class="search_icon"><i class="fa fa-search"></i></button>
                <div style="display: none" class="dropdown-search">
                  <ul [innerHtml]="headerAppendHtml" class="headrSearchAppend">
                   
                  </ul>
                </div>
                </div>
            </div>
          </form>
        </div>
        <div class="col-md-3">
          <div class="logo text-right"><a href=""><img width="160" src="assets/images/logo3.jpeg" alt="Logo"></a></div>
        </div>
      </div>
    </div>

  </div>

</div>
<!--==================header=======================-->
