.dropdown-search {
    position: absolute;
    background: #fff;
    width: 100%;
    left: 0;
    right: 0;
    padding: 10px;
    box-shadow: 0px 0px 5px 0px #ccc;
}
.dropdown-search ul li a {
    font-size: 15px;
    display: inline-block;
    padding: 5px 0;
    color: #000;
    letter-spacing: 0.2px;
    width: 100%;
}
input.search_input {
    outline: none;
}
ul.headrSearchAppend li {
    padding: 8px 0;
    text-transform: capitalize;
}
.inner_sub_category {
    display: none;
}
