
<!--==================banner start=======================-->
<section class="banner-section">
	<div class="Welcomebanner CommonPading">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-12">
        <div class="marketTable">
          <div class="AllBtnBox">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-12">
                <h1>Marketing Collaterals</h1>
                </div>
                <div class="col-md-6 col-sm-6 col-12">
                <ul>
                  <li><a href="">View</a></li>
                  <li><a href="">Download</a></li>
                  <li><a href="">Print</a></li>
                </ul>
              </div>
            </div>
          </div>
       <table class="table table-responsive table-hover table-bordered table-striped">
        <thead >
          <tr>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">CASA</th>
            <td>Pratham Savings Account_Leaflet</td>
            
          </tr>
          <tr>
            <th scope="row"></th>
            <td>Pragati Current Account_Leaflet</td>
          </tr>
          <tr>
            <th scope="row">Insurance</th>
            <td colspan="2">ICICI Lombard Hospicash with Rider_Leaflet</td>
          </tr>

            <tr>
            <th scope="row"></th>
            <td>ICICI Lombard Hospicash with Rider_Brochure</td>
          </tr>

            <tr>
            <th scope="row"></th>
            <td>ICICI Lombard Family Floater_Leaflet</td>
          </tr>

            <tr>
            <th scope="row"></th>
            <td>ICICI Prudential Shubh Raksha Life_Leaflet</td>
          </tr>
         </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<!--==================banner end=======================-->

