
<!--==================banner start=======================-->
<section class="banner-section">
	<div class="Welcomebanner CommonPading">
     <div class="Welbaner-text">    
        <div class="Products-sales"><h1> Products & Sales Pitch</h1></div>
      <div class="row">
        <div class="col-sm-6 col-md-6 col-12">
          <div class="Products-contant_left">
            <h1>AePS</h1>
            <div class="Products-left_ul_li">
              <ul class="panel-group" id="accordion">
               <li class="panel panel-default">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse">Product<i class="fa fa-angle-down" aria-hidden="true"></i></a>

                    <ul id="collapse" class="panel-collapse collapse">
                      <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Product Handout & Transactions </li>
                    </ul> 
                  </li>

                <li class="panel panel-default">
                 <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"> 
                  New Functionalities<i class="fa fa-angle-down" aria-hidden="true"></i></a>

                  <ul id="collapse1" class="panel-collapse collapse">
                    <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Last Transaction Status</li>
                    <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Raising tickets through Mini Statement</li>
                    <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>User Credit Status</li>
                    <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Viewing Transaction Statement</li>
                  </ul> 
                </li>

                <li class="panel panel-default">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"> Sales Pitch<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                   <ul id="collapse2" class="panel-collapse collapse">
                     <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>AePS Sales Pitch Training Video</li>
                   </ul>
                </li>

                <li class="panel panel-default">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Driver Installation<i class="fa fa-angle-down" aria-hidden="true"></i></a>

                <ul id="collapse3" class="panel-collapse collapse">
                  <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Training Video_Web</li>
                  <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Training Video_Tab</li>
                </ul>
                </li>

              </ul>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-6 col-12">
         <div class="Products-contant_left">
          <h1>Bill Payment & Recharge</h1>
          <div class="Products-left_ul_li">
           <ul class="panel-group" id="accordion1">

             <li class="panel panel-default"> 
              <a data-toggle="collapse" data-parent="#accordion1" href="#collapse4">Product
               <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                <ul id="collapse4" class="panel-collapse collapse">
                  <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Product Handout & Transactions</li>
                </ul> 
              </li>

               <li class="panel panel-default">
                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse5">Training Video<i class="fa fa-angle-down" aria-hidden="true"></i></a>

                <ul id="collapse5" class="panel-collapse collapse">
                  <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Bill Payment & Recharge Training Video</li>
                </ul> 
              </li>
             </ul>
            </div>
           </div>
         </div>
           <div class="col-md-12">
              <a href="" class="aply-btn-right">Show More...</a>
            </div>
          </div>
        </div>
       </div>
</section>
<!--==================banner end=======================-->