
  
<!-- =========BANNER SECTION START======= -->
<section class="banner">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
        <div class="item" *ngFor="let image of sliderImg let i = index" [ngClass]="{'active' : i == 0}">
        <img src="{{image}}" alt="Los Angeles" class="img-responsive"/>
        </div>
        </div>
        
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
        </a>
        </div>
</section>
<!-- =========BANNER SECTION END======= -->

   




<!--==================bussines=======================-->
<section class="bussines">
<div class="row">
  <div class="col-md-4">
    <div class="loans">
      <h4 class="h4class">Loans</h4>
       <ul class="panel-group" id="accordion">
         <li class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Personal Loan 
          <i class="fa fa-angle-down" aria-hidden="true"></i></a>

           <a href="" class="aply-now">Apply now</a>
           <ul id="collapse1" class="panel-collapse collapse">
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>Loans for Business</a></li>
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>EMI Calculator</a></li>
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>Balance Transfer Calculator</a></li>
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>Eligibility</a></li>
          </ul> 
       </li>

       <li class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Home Loan
          <i class="fa fa-angle-down" aria-hidden="true"></i></a>
           <a href="" class="aply-now">Apply now</a>
           <ul id="collapse2" class="panel-collapse collapse">
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>EMI Calculator</a></li>
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>Balance Transfer Calculator</a></li>
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>Eligibility</a></li>
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>Home Loan Interest Rates</a></li>
          </ul> 
       </li>

       <li class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Car Loan
          <i class="fa fa-angle-down" aria-hidden="true"></i></a>
           <a href="" class="aply-now">Apply now</a>
           <ul id="collapse3" class="panel-collapse collapse">
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>About Car Loans</a></li>
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>New & Pre-Owned Car Loan</a></li>
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>Loan against Car</a></li>
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>Search for Dream Car</a></li>
          </ul> 
       </li>

        <li class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Gold Loan
          <i class="fa fa-angle-down" aria-hidden="true"></i></a>
           <a href="" class="aply-now">Apply now</a>
           <ul id="collapse4" class="panel-collapse collapse">
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>Features and Documentation</a></li>
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>Interest Rate and Charges</a></li>
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>Gold Loan Eligibility Calculator</a></li>
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>FAQs</a></li>
          </ul> 
       </li>
      </ul>
   </div>
 </div>

  <div class="col-md-4">
    <div class="loans">
      <h4 class="h4class">Cards</h4>
       <ul class="panel-group" id="accordion1">
         <li class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion1" href="#collapse11">Credit Cards 
          <i class="fa fa-angle-down" aria-hidden="true"></i></a>

           <a href="" class="aply-now">Apply now</a>
           <ul id="collapse11" class="panel-collapse collapse">
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>Types of Credit Card</a></li>
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>Compare Cards</a></li>
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>Reward Programmes</a></li>
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>ICICI Bank Credit Cards Experience</a></li>
          </ul> 
       </li>

       <li class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion1" href="#collapse12">PL on Credit Card
          <i class="fa fa-angle-down" aria-hidden="true"></i></a>
           <a href="" class="aply-now">Apply now</a>
           <ul id="collapse12" class="panel-collapse collapse">
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>About Personal Loan on Credit Card</a></li>
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>Features</a></li>
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>Eligibility</a></li>
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>Documentation</a></li>
          </ul> 
       </li>

       <li class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion1" href="#collapse13">Debit Card
          <i class="fa fa-angle-down" aria-hidden="true"></i></a>
           <a href="" class="aply-now">Apply now</a>
           <ul id="collapse13" class="panel-collapse collapse">
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>Choose your Debit Card</a></li>
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>Get Expression Card</a></li>
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>Generate ATM/Debit Card PIN</a></li>
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>Touch & Pay using NFC</a></li>
          </ul> 
       </li>

        <li class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion1" href="#collapse14">Travel Card
          <i class="fa fa-angle-down" aria-hidden="true"></i></a>
           <a href="" class="aply-now">Apply now</a>
           <ul id="collapse14" class="panel-collapse collapse">
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>Self Care Portal Login</a></li>
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>Buy/Reload Travel Card</a></li>
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>Schedule of Charges</a></li>
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>Benefits</a></li>
          </ul> 
       </li>

      </ul>
   </div>
 </div>

<div class="col-md-4">
    <div class="loans">
      <h4 class="h4class">Accounts & Deposits</h4>
       <ul class="panel-group" id="accordion2">
         <li class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion2" href="#collapse21">Savings Account
          <i class="fa fa-angle-down" aria-hidden="true"></i></a>
           <a href="" class="aply-now">Apply now</a>
           <ul id="collapse21" class="panel-collapse collapse">
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>Types of Savings Account</a></li>
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>Benefits of your Savings Account</a></li>
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>Instant Online Application</a></li>
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>Documentation</a></li>
          </ul> 
       </li>

       <li class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion2" href="#collapse22">Fixed Deposit
          <i class="fa fa-angle-down" aria-hidden="true"></i></a>
           <a href="" class="aply-now">Apply now</a>
           <ul id="collapse22" class="panel-collapse collapse">
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>Benefits</a></li>
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>Documents Required</a></li>
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>Interest Rates</a></li>
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>Calculator</a></li>
          </ul> 
       </li>

       <li class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion2" href="#collapse23">Recurring Deposit
          <i class="fa fa-angle-down" aria-hidden="true"></i></a>
           <a href="" class="aply-now">Apply now</a>
           <ul id="collapse23" class="panel-collapse collapse">
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>Documents Required</a></li>
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>Interest Rates</a></li>
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>RD Calculator</a></li>
          </ul> 
       </li>

        <li class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion2" href="#collapse24">iWish flexible RD
          <i class="fa fa-angle-down" aria-hidden="true"></i></a>
           <a href="" class="aply-now">Apply now</a>
           <ul id="collapse24" class="panel-collapse collapse">
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>iWish RD Calculator</a></li>
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>Interest Rates</a></li>
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>Create and Manage iWish</a></li>
              <li><a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i>Compare</a></li>
          </ul> 
       </li>

      </ul>
   </div>
 </div>
 

</div>
</section>
<!--==================bussines=======================-->


<!--==================bussines=======================-->
<section class="debit-crd" style="background-image: url(assets/images/dfs.jpg);">
<div class="row">
  <div class="col-md-12 text-center">
    <div class="lorn-ibdss">
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.</h1>
    <a href="" class="aply-btn">Learn more</a>
  </div>
  </div>
</div>
</section>
<!--==================bussines=======================-->


<!--==================contact-lctn======================-->
<section class="ding-all-prdct">
<div class="row">
   <div class="col-md-4">
   <div class="dinig-ofrs">
     <div class="ofrs-ding">
       <img src="assets/images/Qui.jpg" class="img-responsive">
     </div>
     <div class="travl">
     <h1>Travel Offer</h1>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
     tempor incididunt ut labore et dolore magna aliqua. Ut enim ad.</p>
   <a href="#"><i class="fa fa-angle-double-right"></i></a>
   </div>
   </div>
 </div>
 <div class="col-md-4">
   <div class="dinig-ofrs">
     <div class="ofrs-ding">
       <img src="assets/images/Qui.jpg" class="img-responsive">
     </div>
     <div class="travl">
       <h1>Travel Offer</h1>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
       tempor incididunt ut labore et dolore magna aliqua. Ut enim ad.</p>
        <a href="#"><i class="fa fa-angle-double-right"></i></a>
     </div>
   </div>
 </div>
 <div class="col-md-4">
   <div class="dinig-ofrs">
     <div class="ofrs-ding">
       <img src="assets/images/Qui.jpg" class="img-responsive">
     </div>
     <div class="travl">
     <h1>Travel Offer</h1>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
     tempor incididunt ut labore et dolore magna aliqua. Ut enim ad.</p>
     <a href="#"><i class="fa fa-angle-double-right"></i></a>
   </div>
   </div>
 </div>
</div>
</section>
<section class="bussines">
    <div class="row">
        <a class="aply-btn" [routerLink]="['/']">Welcome page</a>
     </div>
</section> 