html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Poppins', sans-serif;
  padding-top: 79px;
}

a:focus {
  outline: none;
  outline-offset: -2px;
}

a:focus,
a:hover {
  color: #23527c;
  text-decoration: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}


/*=--------headre css here-----=*/
.header {
  padding: 10px 0px 0px;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  z-index: 9999;
  background: #fff;
  box-shadow: 0px 0px 4px #ccc;
}
.side-butn {
  display: none;
}
.side-butn span {
  width: 29px;
  background: #333333d1;
  height: 2px;
  margin: 5px;
  transition: all 0.5s;
  display: block;
}
.side-butn.middleclose span:nth-child(1) {
  position: relative;
  transform: rotate(45deg);
  top: 5px;
  width: 20px;
}
.side-butn.middleclose span:nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
  top: -2px;
  width: 20px;
}
.side-butn.middleclose span:nth-child(2) {
  display: none;
}
.searchbar {
  position: relative;
  top: 12px;
}

.left-side-bar {
  width: 246px;
  background: #3c3374;
  position: fixed;
  left: 0;
  padding: 28px 17px 28px 6px;
  height: calc(100vh - 79px);
  z-index: 999;
  top: 79px;
  overflow-y: auto;
}
/* width */
.left-side-bar::-webkit-scrollbar {
  width: 3px;
}

/* Track */
.left-side-bar::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.left-side-bar::-webkit-scrollbar-thumb {
  background: rgb(161, 161, 161); 
}

/* Handle on hover */
.left-side-bar::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.right-side-bar {
  width: calc(100% - 246px);
  margin-left: 246px;
}

input.search_input {
  width: 100%;
  height: 37px;
  border-radius: 20px;
  box-shadow: none;
  border: 2px solid #3d3670;
  padding: 0 38px 0 11px;
}

.arrowup {
  transform: rotate(180deg);
}

button.search_icon {
  position: absolute;
  top: 2px;
  right: 2px;
  border: 0;
  background: #3d3670;
  color: #fff;
  padding: 7px 17px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}

.mini-header {
  padding-bottom: 8px;
}

.bun-menr {
  float: right;
  margin-top: 2.5em;
}

.bun-menr a {
  display: inline-block;
  border: 1px solid #044880;
  padding: 4px 15px;
  color: #fff;
  border-radius: 3px;
  background: #044880;
}

.navbar-default {
  background-color: #044880;
  border-color: #044880;
}

ul.nav.navbar-nav li a {
  color: #fff;
  padding: 6px 30px;
}

ul.nav.navbar-nav li a {
  color: #fff;
  text-transform: uppercase;
  transition: all 0.5s;
  padding: 12px 32px;
}

ul.nav.navbar-nav li:first-child a {
  padding-left: 0;
}

ul.nav.navbar-nav li:last-child a {
  padding-right: 0;
}

.navbar {
  position: relative;
  min-height: 44px;
  margin-bottom: 0;
  border-radius: 0 !important;
  border: 0;
}


/*=------navigation side bar--=*/
/*=------navigation side bar--=*/
.left-side-bar ul li {
  line-height: 38px;
  color: #fff;
  padding-bottom: 7px;
}

.left-side-bar ul li a {
  color: #fff;
  position: relative;
  display: inline-block;
  width: 100%;
}
.left-side-bar ul li img {
  margin-right: 5px;
  width: 17px;
  position: relative;
  top: -2px;
}
.left-side-bar>ul>li>a>i.fa.fa-angle-down,
.left-side-bar>ul>li>a>i.fa.fa-angle-up {
  position: absolute;
  right: -4px;
  top: 12px;
}
ul.inner_sub_category li {
  padding: 0;
}
ul.inner_sub_category {
  padding-left: 25px;
}
.left-side-bar ul li .form-group {
  margin-bottom: 0;
  line-height: 0;
  margin-top: 4px;
  margin-left: 32px;
}

.left-side-bar ul li select {
  color: #000;
  max-width: 123px;
  width: 100%;
  border-radius: 23px;
  padding: 0px 9px;
}

/*=------navigation side bar--=*/
/*=------navigation side bar--=*/
.item.BannerImage {
  width: 100%;
  height: 319px;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

.owl-nav {
  display: none;
}

.owl-dots {
  display: block;
  position: absolute;
  bottom: 9px;
  left: 0;
  right: 0;
  text-align: center;
}

.owl-dot {
  background: #eeeeee;
  width: 11px;
  height: 11px;
  transition: all 0.5s;
  border: 2px solid #e3212eab;
  display: inline-block;
  border-radius: 100%;
  margin: 0px 5px;
}

.owl-dot.active {
  border: 2px solid #3d3670;
  background: #3d3670;
}


.baner-text {
  color: #fff;
  max-width: 492px;
}

.baner-text h1 {
  font-size: 43px;
}

a.aply-btn {
  background: #f5002c;
  color: #fff;
  padding: 12px 42px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  border-radius: 3px;
  transition: all 0.5s;
  font-size: 14px;
}

a.aply-btn:hover {
  background: #f53759;
  color: #fff;

}

.baner-text p {
  padding: 18px 0px 28px 0px;
}

section.bussines {
  padding: 49px 22px 21px;
}

.proct {
  text-align: center;
}

.proct h1 {
  padding-bottom: 21px;
  margin: 0;
}

.loans ul {
  list-style: none;
}

.loans {
  background: #fff;
  box-shadow: 0px 3px 15px 0px #00000047;

}

.loans h4 {
  background: #eee;
  padding: 13px 26px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  font-size: 16px;
  margin: 0;
}

.loans>ul>li {
  border-bottom: 1px solid #00000021;
  padding: 18px 26px;
  cursor: pointer;
  font-size: 15px;
  position: relative;
}

.loans li ul li a {
  display: inline-block;
  width: 100%;
  padding: 4px 0px;
  white-space: nowrap;
}

.loans ul li ul li {
  padding: 9px 11px;
  border-bottom: 1px solid #00000017;
}

.loans ul li ul li:last-child {
  border-bottom: none;
}

.loans ul li ul li i {
  position: relative;
  left: -13px;
}

.loans ul li a:hover {
  text-decoration: none;
}

.aply-now:hover {
  background: #f5002c;
}

.aply-now {
  background: #f5002c;
  float: right;
  color: #fff !important;
  transition: all 0.5s;
  background: #f5002cba;
  font-size: 11px;
  border-radius: 3px;
  padding: 4px 5px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.loans ul li i {
  padding-left: 6px;
  position: relative;
  font-size: 19px;
  color: #d61c3e;
  top: 2px;
}

ul li.fa_fa_left:last-child {
  border: 0;
}




section.debit-crd {
  background-size: cover;
  background-position: center;
  padding: 52px 15px 84px 15px;
  color: #fff;
  background-attachment: fixed;
}

.lorn-ibdss h1 {
  font-weight: 300;
  text-transform: capitalize;
  font-size: 24px;
  line-height: 39px;
  padding-bottom: 29px;
}

.lorn-ibdss {
  width: 68%;
  display: block;
  margin: 0 auto;
}


section.contact-lctn {
  background: #b5202a;
  color: #fff;
  padding: 2px 22px 17px 22px;
}

.detail-cnt {
  font-weight: 300;
  font-size: 13px;
}

.detail-cnt h2 {
  font-weight: 300;
  font-size: 20px;
  text-transform: capitalize;
}

.detail-cnt span {
  padding-left: 25px;
  float: left;
  font-size: 14px;
  letter-spacing: 0.8px;
}

.detail-cnt a {
  padding-right: 19px;
  font-size: 19px;
}

.detail-cnt span i {
  color: #fff;
  font-size: 15px;
  position: absolute;
  left: 16px;
}

.detail-cnt i {
  color: #fff;
}

/*=------footer css----=*/

section.footer {
  /*    background: #d01f1f;*/
  background: #3d3670f2;
  color: #fff;
  padding: 22px 22px 22px 22px;
}

section.footer ul li a {
  font-weight: 300;
  font-size: 15px;
  color: #fff;
  transition: all 0.5s;
  text-decoration: none;
  line-height: 30px;
}

section.footer ul li a:hover {
  padding-left: 6px;
}

span.copyright {
  text-align: center;
  display: block;
  padding-top: 20px;
}

section.footer h4 {
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 17px;
  padding-bottom: 14px;
}


ul.nav.navbar-nav li a:hover {
  color: #ea2d4f;
}

section.ding-all-prdct {
  padding: 50px 22px;
}

.dinig-ofrs {

  background: #fff;
  border: 1px solid #0000001a;
  transition: all 0.5s;
}

.dinig-ofrs:hover {
  box-shadow: 0px 8px 5px 0px #0000002e;
}

.dinig-ofrs:hover h1 {
  color: #f5002c;
}

.ofrs-ding {
  width: 100%;
  height: 249px;
  overflow: hidden;
  background: #000;
}

.ofrs-ding img {
  transition: all 0.8s;
}

.ofrs-ding img:hover {
  opacity: 0.5;
}

.travl {
  padding: 2px 20px 20px;
  display: inline-block;
}

.travl a {
  background: #eee;
  color: #00000087;
  padding: 2px 11px;
  transition: all 0.5s;
  border-radius: 55px;
  font-size: 19px;
  border: 1px solid #f53759;
  width: 34px;
  text-align: center;
  height: 34px;
  float: right;
}

.travl a:hover {
  border: 1px solid #f53759;
  background: #f53759;
  color: #fff;
}

.travl h1 {
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.travl p {

  line-height: 23px;
}

/*============WELCOME PAGE CSS========*/
.CommonPading {
  padding: 20px;
}

.Welcomebanner {
  padding: 44px;
}

.Welbaner-text {
  padding-left: 20px;
  box-shadow: 0px 3px 15px 0px #00000047;
  padding: 30px;
  background: #fff;
}

.Welbaner-text h1 {
  font-size: 25px;
  color: #3c3374;
  letter-spacing: 0.5px;
}

.WelPara {
  width: 100%;
  margin-top: 20px;
}

.WelPara p {
  margin-bottom: 10px;
  line-height: 23px;
  font-size: 15px;
}

/*============WELCOME PAGE CSS========*/
/*============marketTable PAGE CSS========*/
.AllBtnBox {
  margin: 10px 6px 16px;
}

.AllBtnBox h1 {
  font-size: 25px;
  color: #3c3374;
  letter-spacing: 0.5px;
  margin: 0px;
  text-transform: capitalize;
}

.AllBtnBox ul li {
  display: inline-block;
}

.AllBtnBox ul {
  text-align: right;
}

.AllBtnBox ul li a {
  color: #fff;
  transition: all 0.5s;
  background: #f5002cba;
  font-size: 12px;
  border-radius: 3px;
  padding: 5px 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 3px;
}

.AllBtnBox ul li a:hover {
  background: #f5002c;
}

.marketTable .table thead {
  background: #3c3374;
  color: #fff;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

.marketTable {
  box-shadow: 0px 3px 15px 0px #00000047;
  padding: 35px 27px 9px;
}

.marketTable .table th {
  padding: 13px !important;
}

.marketTable .table td {
  padding: 13px !important;
}

/*============marketTable PAGE CSS========*/
/*=========RAHUL CSS=======*/
@media (min-width: 320px) and (max-width: 767px) {
  .THeader .small-custom-header {
    display: inline-flex;
    justify-content: center;
    padding: 0;
    text-align: center;
    margin: 0px auto;
    width: 100%;
  }

  .THeader .small-custom-header a {
    margin-left: 7px;
    margin-right: 6px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 0px;
  }

  .THeader .elementor-social-icon-facebook {
    background-color: transparent;
  }

  .THeader .elementor-social-icon-twitter {
    background-color: transparent;
  }

  .THeader .elementor-social-icon-instagram {
    background-color: transparent;
  }

  .THeader .elementor-social-icon-pinterest {
    background-color: transparent;
  }

  .FProduct .elementor-element.elementor-element-f2695d9>.elementor-widget-container {
    margin: 2px 0px 7px 0px;
    padding: 0px 0px 0px 0px;
  }

  .FProduct .woocommerce ul.products li {
    width: 100% !important;
  }

  .FProduct .woocommerce ul.products li.product .button {
    text-transform: uppercase;
    font-weight: bold;
  }

  .FProduct a.raven-post-title-link {
    color: #000;
  }
}

/*============320 END=======*/
/*=========RAHUL CSS=======*/
/*shubham's style sheet*/
.Products-sales h1 {
  text-align: left;
  margin: 0px;
  padding-bottom: 25px;
}


.Products-contant_left {
  border: 1px solid #ddd;
  ;
  border-radius: 2px;
  /*padding: 20px;*/
}

.Products-contant_left h1 {
  background: #3c3374;
  padding: 13px;
  text-transform: capitalize;
  letter-spacing: 0.8px;
  color: #fff;
  margin: 0;
  text-align: center;
  font-size: 17px;
}

.Products-left_ul_li ul li {
  font-size: 16px;
  padding: 12px 17px 12px 31px;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #0000002e;
}


ul.Products-left-ul_main li>ul li {
  color: #d21623;
  font-size: 16px;
  padding-left: 0;
  position: relative;
  border-bottom: 0px !important;
}

ul.Products-left-ul_main i {
  color: #f03c3c;
  ;
  font-size: 23px;
  float: right;

  right: 6px;
}

li.fa_fa_left i {
  color: #d21623;
  float: left;
  font-size: 18px;
  padding: 0px;
  margin: 0px;
  content: "";
  position: absolute;
  left: 12px;
  padding-right: 8px;
}

.Products-right_ul_li ul li>i {
  color: #f03c3c;
  font-size: 23px;
  float: right;
}
.Products-single img {
  max-width: 100%;
}
li.fa_fa_right i {
  color: #3c3374 !important;
  float: left !important;
  top: 3px !important;
  font-size: 20px !important;
  padding-right: 8px;
  position: relative;
}

.Products-left_ul_li ul li:last-child {
  border: 0;
}

.Products-right_ul_li ul li:last-child {
  border: 0;
}

/*=========subsection css ==========*/

.subsection_head {
  border: 1px solid #00000029;
  border-radius: 4px;
}

.subsection_head h1 {
  text-align: center;
  font-size: 21px;
}

.subsection_head h1 {
  text-align: center;
  font-size: 21px;
  background-color: #3c3374;
  color: #fff;
  margin: 0px;
  padding: 20px;
}

.subsection_ul_li ul li {
  font-size: 16px;
  padding: 12px 17px 12px 32px;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #0000002e;
}

ul.subsect_ulmenu li:last-child {
  border: 0px;
}

/*=========products&salespitch.html css ==========*/
/*=========products&salespitch.html css ==========*/
.angle li {
  padding-left: 21px !important;
}

.angle li i {
  position: absolute;
  left: 0;
}

ul.dropdown-show {
  margin-left: 34px;
  display: none;
}

ul.dropdown-show li {
  padding-left: 14px;
  position: relative;
  padding-bottom: 9px;
  line-height: 20px;
}

ul.dropdown-show li i {
  position: absolute;
  left: -11px;
  top: 3px;
}

a.aply-btn-right {
  float: right;
  color: #fff;
  padding: 6px 14px;
  margin-top: 20px;
  background: #d01f1f;
  border-radius: 3px;
}

/*=========products&salespitch.html css ==========*/
/*=========products&salespitch.html css ==========*/


/*=========feedback css ==========*/
/*=========feedback css ==========*/
/*=========feedback css ==========*/

ul.feedbk-ulmenu li {
  padding-bottom: 9px;
  position: relative;
  padding-left: 31px;
}

span.no-bld {
  color: #3c3374;
  font-weight: 700;
  font-size: 15px;
}

/*=========device&adminsupport css ==========*/
/*=========device&adminsupport css ==========*/
/*=========device&adminsupport css ==========*/
.botm-pding {
  margin-bottom: 28px;
}



.loans .panel-group .panel+.panel {
  margin-top: 0px;
}

.panel {
  border: 0px;
}

.loans ul>li>a {
  color: #333;
}

.loans ul>li>ul>li>a {
  color: #d61c3e;
}
.loans ul>li>ul>li>a div{
    white-space: nowrap !important;
    display: inline-block;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.Products-contant_left ul li a {
  color: #333;
}

.Products-contant_left ul li i.outer {
  position: absolute;
  right: 23px;
  font-size: 20px;
  color: #d21623;
}

.Products-left_ul_li ul li ul li {
  color: #d61c3e;
}

.Products-left_ul_li .panel-group {
  margin-bottom: 0;
}
.open-sidebar {
  left: 0 !important;
}
.logo a{
  display: inline-block;
}
.Products-single h4 {
  margin-top: 24px;
}
.Products-single ul li {
  list-style: disc;
  margin-left: 17px;
  margin-bottom: 1px;
}
.Products-single ul {
  margin-bottom: 25px;
}



/*========= RESPONSIVE CSS START ==========*/
/*========= RESPONSIVE CSS START ==========*/
/*========= RESPONSIVE CSS START ==========*/

@media screen and (min-width: 767px) and (max-width: 422px) {
  .item.BannerImage {
      width: 100%;
      height: 107px;
  }
  }
  @media screen and (min-width: 423px) and (max-width: 500px) {
  .item.BannerImage {
      width: 100%;
      height: 107px;
  }
  }
  @media screen and (min-width: 501px) and (max-width: 767px) {
  .item.BannerImage {
      width: 100%;
      height: 150px;
  }
  }
  
  @media screen and (max-width: 767px) {
  /*=--------home pageb css-------=*/
  /*=--------home pageb css-------=*/
  /*=--------home pageb css-------=*/
  
  .side-butn {
    display: inline-block;
    cursor: pointer;
    margin-top: 29px;
    height: 25px;
}
.loans ul>li>ul>li>a div {
  white-space: normal !important;
}
.logo a img {
  width: 100%;
  max-width: 185px;
}
  .mini-header form {
      width: 100%;
      max-width: 226px;
      float: right;
  }
  
  .mini-header {
      position: relative;
      padding-bottom: 13px;
  }
  .searchbar {
      position: relative;
      top: 18px;
  }
  .logo.text-right {
    position: absolute;
    top: -95px;
    right: 10px;
}
  .logo.text-right img {
    width: 100px;
}
  .left-side-bar {
      left: -246px;
       height: 100vh;
      transition: all 0.5s;
      z-index: 999;
      top: 118px;
  }
.right-side-bar {
    width: 100%;
    margin-left: 0;
    padding: 0 15px;
}
.Welcomebanner {
    padding: 0px;
    position: relative;
    top: 0;
    margin-top: 38px;
}
  .Welbaner-text {
      padding:0px;
      box-shadow: none;
      background: #fff;
        margin-top: 30px;
  }
  .Welbaner-text h1 {
      font-size: 20px;
      letter-spacing: 0.5px;
  }
  .logo.rs-lgo img{
      width: 100%;
      max-width: 187px; 
  }
  .detail-cnt {
      font-weight: 300;
      font-size: 13px;
      display: inline-block;
  }
  .detail-cnt h2 {
      font-size: 16px;
  }
  section.footer h4 {
      font-size: 14px;
      }
      section.footer ul li a {
      font-size: 13px;
      line-height: 25px;
  }
  section.footer h4 {
      font-size: 14px;
      margin-top: 20px;
      padding-bottom: 0;
  }
  span.copyright {
      font-size: 14px;
  }
  section.contact-lctn {
      padding: 23px 22px 17px 22px;
      margin: 0 -15px;
  }
  section.footer {
    margin: 0 -15px;
    padding-top: 0;
}
.loans h4 {
  padding: 13px 15px;
}
.loans ul li i {
  padding-left: 6px;
  position: relative;
  font-size: 19px;
  color: #d61c3e;
  top: 20px;
  position: absolute;
  right: 6px;
}  
.Products-single h1 {
  font-size: 18px;
}
.loans>ul>li {
  padding: 18px 15px;
}
.Products-single {
  padding: 0 15px;
}
  
  /*=--------home pageb css-------=*/
  /*=--------home pageb css-------=*/
  /*=--------home pageb css-------=*/
  
  /*=--------customereducation.html pageb css-------=*/
  /*=--------customereducation.html pageb css-------=*/
  /*=--------customereducation.html pageb css-------=*/
  .Products-contant_left {
      border: 1px solid #ddd;
      border-radius: 2px;
      /* padding: 20px; */
      margin-bottom: 20px;
  }
  /*=--------customereducation.html pageb css-------=*/
  /*=--------customereducation.html pageb css-------=*/
  /*=--------customereducation.html pageb css-------=*/
  
  
  /*=--------customer-greetings.html pageb css-------=*/
  /*=--------customer-greetings.html pageb css-------=*/
  /*=--------customer-greetings.html pageb css-------=*/
  .marketTable {
      box-shadow: none;
      padding: 20px 15px 69px;
      position: relative;
      top: 58px;
  }
  a.number.visible-xs {
      font-size: 16px !important;
  }
  .AllBtnBox ul {
    text-align: center;
    padding-top: 20px;
}
.AllBtnBox ul li a {
  margin: 2px;
}
  /*=--------customer-greetings.html pageb css-------=*/
  /*=--------customer-greetings.html pageb css-------=*/
  /*=--------customer-greetings.html pageb css-------=*/
  
  
  /*=--------device&adminsupport.html pageb css-------=*/
  /*=--------device&adminsupport.html pageb css-------=*/
  .Welbaner-text h1 {
      font-size: 17px;
      letter-spacing: 0.5px;
  }
  /*=--------device&adminsupport.html pageb css-------=*/
  /*=--------device&adminsupport.html pageb css-------=*/
  
  .lorn-ibdss h1 {
      font-size: 17px;
      line-height: 27px;
  }
  section.debit-crd {
      padding: 23px 15px 61px 15px;
      }
  
  .ofrs-ding img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  section.banner {
      position: relative;
      top: 52px;
      margin-bottom: 34px;
      margin: 0 -15px;
  }
  .dinig-ofrs {
      margin-bottom: 20px;
      }
  .AllBtnBox h1 {
      font-size: 23px;
      text-align: center;
  }
  .Welcomebanner.CommonPading {
      padding-bottom: 20px;
  }
  .Products-sales {
      padding-top: 20px;
  }
  }
  
  
  @media screen and  (min-width: 768px) and (max-width: 990px) {

  /*=--------home pageb css-------=*/
  /*=--------home pageb css-------=*/
  /*=--------home pageb css-------=*/
  .Products-left_ul_li ul li {
      font-size: 16px;
      padding: 12px 17px 12px 18px;
  }
  .logo.text-right {
      position: absolute;
      top: -106px;
      right: 0;
  }
  .item.BannerImage {
      width: 100%;
      height: 245px;
      background-repeat: no-repeat !important;
      background-position: center !important;
      background-size: cover !important;
      /* padding: 300px; */
      margin-top: 60px;
      object-fit: contain;
      /* display: table; */
  }
  /*=--------home pageb css-------=*/
  /*=--------home pageb css-------=*/
  
  /*=--------customereducation.html pageb css-------=*/
  /*=--------customereducation.html pageb css-------=*/
  .detail-cnt {
      font-weight: 300;
      font-size: 13px;
      display: inline-block;
  }
  a.number.hidden-xs {
      font-size: 15px !important;
  }
  
  .Products-contant_left h1 {
      font-size: 15px;
  }
  .subsection_ul_li ul li {
      font-size: 13px;
  }
  /*=--------customereducation.html pageb css-------=*/
  /*=--------customereducation.html pageb css-------=*/
  
  
  /*=--------customer-greetings.html pageb css-------=*/
  /*=--------customer-greetings.html pageb css-------=*/
  
  .marketTable {
      position: relative;
      top: 29px;
  }
  .AllBtnBox h1 {
      font-size: 22px;
      }
      section.contact-lctn {
      padding: 23px 22px 17px 22px;
  }
  /*=--------customer-greetings.html pageb css-------=*/
  /*=--------customer-greetings.html pageb css-------=*/
  }

/*========= RESPONSIVE CSS END ==========*/
/*========= RESPONSIVE CSS END ==========*/
/*========= RESPONSIVE CSS END ==========*/