
<!--==================banner start=======================-->
<section class="banner-section">
	<div class="Welcomebanner CommonPading">
     <div class="Welbaner-text">    
        <div class="Products-sales"><h1> Device & Admin Support</h1></div>
      <div class="row">
        <div class="col-sm-6 col-md-6 col-12">
          <div class="Products-contant_left botm-pding">
            <h1>Driver Installation</h1>
            <div class="Products-left_ul_li">
              <ul class="Products-left-ul_main">
                  <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Training Video_PAX D 180 Driver Installation </li>
                 <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Training Video_RD Services Driver Installation_Web</li>
                 <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Training Video_RD Driver Installation_Tab</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-6 col-12">
          <div class="Products-contant_left botm-pding">
            <h1>Basic Troubleshooting of devices</h1>
            <div class="Products-left_ul_li">
              <ul class="Products-left-ul_main">
                 <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Process documents for basic troubleshooting of all IT devices at Merchant points</li>
              </ul>
            </div>
          </div>
        </div>
 </div>
        
   
<div class="row">
   <div class="col-sm-6 col-md-6 col-12">
        <div class="Products-contant_left botm-pding">
          <h1>Helpdesk Support</h1>
          <div class="Products-left_ul_li">
            <ul class="Products-left-ul_main">
                <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Merchant Helpdesk Contact Details</li>
            </ul>
          </div>
        </div>
      </div>
  </div>

   </div>
   </div>
</section>
<!--==================banner end=======================-->