

<!--==================banner start=======================-->
<section class="banner-section">
	<div class="Welcomebanner CommonPading">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-12">
        <div class="Welbaner-text">
          <h1>Feedback</h1>
          <div class="WelPara">
          <p><b>We value your feedback for improving Gyankosh. Please let us know:</b></p>
          <p><span class="no-bld">1.</span> &nbsp;Which subsection of the portal according to you is most useful? </p>
           <ul class="feedbk-ulmenu">
                <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Product & Sales Pitch  </li>
                <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Marketing Collaterals </li>
                <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Customer Education</li>
                <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Customer Greetings</li>
                <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Device & Admin Support</li>
             </ul>
          

           <p><span class="no-bld">2.</span> &nbsp; Which other subsection you feel needs to be added in the portal to make it more useful?</p>
            <ul class="feedbk-ulmenu">
                <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Product & Sales Pitch  </li>
                <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Marketing Collaterals </li>
                <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Customer Education</li>
                <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Customer Greetings</li>
                <li class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Device & Admin Support</li>
              </ul>
           
          <p><span class="no-bld">3.</span> &nbsp; Do you feel the user interface needs to be modified for better experience? Y/N</p>
          <p><span class="no-bld">4.</span> &nbsp; Any other suggestions you may have to improve the portal further:</p>
         </div>
       </div>
      </div>
    </div>
  </div>
</section>
<!--==================banner end=======================-->