
<!--==================banner start=======================-->
<section class="banner-section">
	<div class="Welcomebanner CommonPading">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-12">
        <div class="marketTable">

          <div class="AllBtnBox">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-12">
                 <h1>Customer Greetings</h1>
               </div>
               <div class="col-md-6 col-sm-6 col-12">
          <ul>
            <li><a href="">View</a></li>
            <li><a href="">Download</a></li>
          </ul>
            </div>
          </div>
        </div>

                  <table class="table table-responsive table-hover table-bordered table-striped">
  <thead >
    <tr>
      <th scope="col">SNo</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>New Year 2019</td>
      
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Makar Sankranti 2019</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Bihu 2019</td>
    </tr>

      <tr>
      <th scope="row">4</th>
      <td>Pongal 2019</td>
    </tr>
  </tbody>
</table>
         
         
        </div>
      </div>

  </div>
  </div>
</section>
<!--==================banner end=======================-->