
<!-- =========BANNER SECTION START======= -->
<section class="banner">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
      <div class="item" *ngFor="let image of sliderImg let i = index" [ngClass]="{'active' : i == 0}">
      <img src="{{image}}" alt="Los Angeles" class="img-responsive"/>
      </div>
      </div>
      
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
      </a>
      </div>
</section>
<!-- =========BANNER SECTION END======= -->

<!--==================banner start=======================-->
<section class="banner-section">
	<div class="Welcomebanner CommonPading">
     <div class="">    
        <div class="Products-sales"><h3>{{groupName}} </h3></div>
      <div class="row">
        <!-- <div *ngFor="let groupCategory of allCategoryData" class="col-sm-4 col-md-4 col-12">
          <div class="Products-contant_left"> 
            <h1>{{groupCategory?.Name}}</h1>
            <div class="Products-left_ul_li">
                <ul class="panel-group" id="accordion">
                  <li class="panel panel-default" *ngFor="let groupCategorysss of groupCategory.ListOfSubCategory">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{groupCategorysss.ID}}">{{groupCategorysss.Name}}<i class="fa fa-angle-down outer" aria-hidden="true"></i></a>
                      <ul id="collapse{{groupCategorysss.ID}}" class="panel-collapse collapse">
                        <li  *ngFor="let allposts of catPostData[groupId][groupCategory.ID][groupCategorysss.ID]" class="fa_fa_left"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                           <a [routerLink]="['/single/',allposts.ID]"><div [innerHTML]=allposts.Title></div></a>
                           
                          </li>
                      </ul> 
                  </li>  
                </ul>
            </div>
          </div>
        </div>  -->
       
        <div *ngFor="let groupCategory of allCategoryData" class=" cat_main col-md-4">
            <div class="loans">
              <h4 class="h4class">{{groupCategory?.Name}}</h4>
               <ul class="panel-group cat_main_inner " id="accordion">
                 <li *ngFor="let groupCategorysss of groupCategory.ListOfSubCategory" class="panel panel-default">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{groupCategorysss.ID}}">{{groupCategorysss.Name}} 
                  <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <ul id="collapse{{groupCategorysss.ID}}" class="panel-collapse collapse">
                      <li *ngFor="let allposts of catPostData[groupCategorysss.ID]" class="inr_titl">
                            <a [routerLink]="['/single/',allposts.ID]">
                              <div [innerHTML]=allposts.Title></div>
                            </a>
                        </li>
                   </ul> 
                 </li>
              </ul>
           </div>
        </div> 
        <!-- 
          <div class="col-md-12">
              <a href="" class="aply-btn-right">Show More...</a>
          </div> 
        -->
      </div>
    </div>
   </div>    
</section>
<!--==================banner end=======================-->